<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>URL Redirects</title>
  </head>

  <body>
    <h1>URL Redirects</h1>
    <form method="post" action="/shortenUrl">
      <label for="name">Name</label>
      <input type="text" name="name" />
      <input type="submit" value="Add" />
    </form>
    <h4>Items:</h4>
    <ul>
      <% redirects.forEach(function(redirect) { %>
      <li>
        <%= redirect.slug %>: <%= redirect.url %>
      </li>
      <% }); %>
    </ul>
    <script src="app.js"></script>
  </body>
</html>
