<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>URL Redirects</title>
  </head>

  <body>
    <h1>URL Redirects</h1>
    <ul>
      <% redirects.forEach(function(redirect) { %>
      <li>
        <%= redirect.slug %>: <%= redirect.url %>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
