<meta charset="UTF-8" />
<title>URL Shortener</title>

<link
  href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
  rel="stylesheet"
/>

<style>
  body {
    padding-top: 50px;
    background: #f7f9fd;
    display: grid;
    place-items: center;
  }
</style>
